<div>
  <div class="background"></div>

  <div class="card">

    <div class="header">
      <ng-content select="h3"></ng-content>
    </div>

    <div class="message">
      <ng-content></ng-content>
    </div>

    <div class="footer">
      <ng-content select="button"></ng-content>
    </div>
  </div>

</div>
