<!DOCTYPE html>
<html data-ng-app="BeMEAN">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
  </head>
  <body data-ng-controller="UserController as User">
    <h1>{{User.titulo}}</h1>
    <span data-ng-init="predicate='name'; reverse=false;"></span>
    <label>Busca: <input type="text" ng-model="searchUser"></label>
    <table>
      <thead>
        <tr>
          <th data-ng-repeat="(key, value) in User.users[0]">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in User.users | orderBy:predicate:reverse | filter:searchUser">
          <td data-ng-repeat="(key, value) in user">{{value}}</td>
        </tr>
      </tbody>
    </table>

    <script src="../lib/angular.min.js"></script>
    <script>
      angular.module("BeMEAN",[])
      .controller("UserController", UserController);

      function UserController(){
        var vm = this;
        vm.titulo = "Be MEAN - Usuários";
        vm.users = [
          {name:'Douglas Caina', email:'caina27@gmail.com'},
          {name:'Jonas Theodor', email:'theodor.jonas@gmail.com'},
          {name:'Janice Bergamota', email:'bergen.janice@gmail.com'}
        ];
      }
      UserController['$inject'] = ['$scope'];



    </script>
  </body>
</html>
