<!DOCTYPE html>
<html data-ng-app="BeMEAN">
  <head>
    <meta charset="utf-8">
    <title>
    teste de filtros
    </title>
  </head>
  <body>

    <br/>
    <label for="nome">
      <input type="text" data-ng-model="nome">
    </label>
      Olá, {{nome | truncate:5:' Veja mais..' }}

    <script src="../lib/angular.min.js"></script>
    <script>
      angular.module("BeMEAN",[])
        .filter("reverseString", function(){
          return function(text){
            if(text) return text.split("").reverse().join("");
          }
        })
        .filter('truncate', function(){
          return function(text, length, end){
            if(text){
              if(isNaN(length)) length = 10;
              if(end === undefined) end = '...';
              if(text.length <= length) return text;
              else return String(text).substring(0, length)+end;
            }
          }
        });
    </script>
  </body>
</html>
