<!DOCTYPE html>
<html data-ng-app="BeMEAN">
  <head>
    <meta charset="utf-8">
    <title>
      {{titulo | reverseString}}
    </title>
  </head>
  <body>
    <label for="nome">
      <input type="text" data-ng-model="titulo">
    </label>
    <br/>
    <br/>
    <label for="nome">
      <input type="text" data-ng-model="nome">
    </label>
      Olá, {{nome | reverseString |uppercase}}

    <script src="../lib/angular.min.js"></script>
    <script>
      angular.module("BeMEAN",[])
        .filter("reverseString", function(){
          return function(text){
            if(text) return text.split("").reverse().join("");
          }
        });
    </script>
  </body>
</html>
