<!DOCTYPE html>
<html data-ng-app="caina">
  <head>
    <meta charset="utf-8">
    <title>
      Exercicios
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  </head>
  <body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><span class="label label-default">01</span> Crie 1 exemplo para pelo menos 5 filtros padrões do Angular </h3>
        <div class="well">
          <form>
            <div class="form-group">
              <label for="sample-text">Digite um texto</label>
              <input type="text" class="form-control" id="sample-text" data-ng-model="exe01Text">
            </div>
            <div class="form-group">
              <p>Uppercase: {{exe01Text | uppercase}}</p>
            </div>
            <div class="form-group">
              <p>Lowecase: {{exe01Text | lowercase}}</p>
            </div>
            <div class="form-group">
              <p>Currency: {{exe01Text | currency:"R$"}}</p>
            </div>
            <div class="form-group">
              <p>Ano(yyyy-mm-dd): {{exe01Text | date:'yyyy'}}</p>
            </div>
            <div class="form-group">
              <p>Json: {{exe01Text | json}}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3><span class="label label-default">02</span> Criar um filtro que diga se você é maior de idade</h3>
        <div class="well">
          <form>
            <div class="form-group">
              <label for="sample-text">Digite sua idade</label>
              <input type="text" class="form-control" id="sample-text" data-ng-model="userAge">
            </div>
            <div class="form-group">
              <p>{{userAge | isAdult}}</p>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3><span class="label label-default">03</span> Criar um filtro que recebe um horário e retorna bom dia, tarde ou noite</h3>
        <div class="well">
          <form>
            <div class="form-group">
              <label for="sample-text">Que hora é?</label>
              <input type="text" class="form-control" id="sample-text" data-ng-model="time">
            </div>
            <div class="form-group">
              <p>{{time | whatTimeIsIt}}</p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="../lib/angular.min.js"></script>
  <script src="exercicio.js"></script>

  </body>
</html>
