<!--
O que está aconteseno?!??!?!
Que magia negra é esta?!

Pelo que entendi: Como tem o app 'ng-app' declarado no inicio do documento, isto inicia oangular, defini que o model dele era o imput
e disse que o imput deveria ser printado no placeholder do name, como em handlebars
-->
<html ng-app>
    <head>
        <title>Teste de Angular</title>
        <meta charset="utf-8"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    </head>
    <body>
        Nome: <input type='text' ng-model="name"/>
        <br/>
        Olá! {{name}}
    </body>
</html>