
<html ng-app='nameApp'>
    <head>
        <title>Teste de Angular</title>
        <meta charset="utf-8"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
        <script>
        var nameApp = angular.module('nameApp',[]);
        nameApp.controller('NameCtrl', function($scope){
            $scope.firstName = "Caina";
            $scope.lastName = " Eu"
        });
        </script>
    </head>
    <body ng-controller="NameCtrl">
        Nome: <input type='text' ng-model="firstName"/>
        <br/>
        Sobrenome: <input type='text' ng-model="lastName"/>
        <br/>
        Olá! {{firstName}} {{lastName}}
    </body>
</html>