
<html ng-app='nameApp'>
    <head>
        <title>Teste de Angular</title>
        <meta charset="utf-8"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
        <script>
        var nameApp = angular.module('nameApp',[]);
        nameApp.controller('NameCtrl', function($scope){
            setTimeout(function(){
            $scope.names = ['Douglas','Caina','ahhh'];
            $scope.$apply();
            },1000);
        });
        </script>
    </head>
    <body ng-controller="NameCtrl">
        <ul>
            <li ng-repeat="name in names">{{name}}</li>
        </ul>
    </body>
</html>