
<html ng-app='nameApp'>
    <head>
        <title>Teste de Angular</title>
        <meta charset="utf-8"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
        <script>
        var nameApp = angular.module('nameApp',[]);
        nameApp.controller('NameCtrl', function($scope){
            $scope.names = ['1','2'];
            $scope.addName = function(){
                $scope.names.push($scope.enteredName);
                $scope.enteredName = "";
            }
            
            $scope.remove = function(name){
                var pos = $scope.names.indexOf(name);
                $scope.names.splice(pos, 1);
            }
        });
        </script>
    </head>
    <body ng-controller="NameCtrl">
        <form ng-submit="addName()">
        <input type="text" ng-model="enteredName"/>
        <input type="submit" value="Enviar"/>
        </form>
        <ul>
            <li ng-repeat="name in names">{{name}} <a href="" ng-click="remove(name)" >x</a></li>
        </ul>
    </body>
</html>