
<html ng-app='nameApp'>
    <head>
        <title>Teste de Angular</title>
        <meta charset="utf-8"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
        <script>
        var nameApp = angular.module('nameApp',[]);
        nameApp.controller('NameCtrl', ['$scope','$http',function(scope,http){
            http.get('http://jsonplaceholder.typicode.com/users').success(function(data){
                scope.users = data;
           })
        }]);
        </script>
    </head>
    <body ng-controller="NameCtrl">
        <table>
            <tr>
                <td>Nome</td>
                <td>usuário</td>
                <td>Email</td>
                <td>Website</td>
                <td>Empresa</td>
                <td>Remover</td>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.website}}</td>
                <td>{{user.company.name}}</td>
                <td><a href="" ng-click="removeUser(user.id)">Remover</a></td>
            </tr>
        </table>
    </body>
</html>