
<html ng-app='nameApp'>
    <head>
        <title>Teste de Angular</title>
        <meta charset="utf-8"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
        <script>
        var nameApp = angular.module('nameApp',[]);
        nameApp.controller('NameCtrl', ['$scope','$http',function(scope,http){
            http.get('http://jsonplaceholder.typicode.com/users').success(function(data){
                scope.users = data;
           });
            scope.sortField = 'website';
            scope.reverse = false;
        }]);
        </script>
    </head>
    <body ng-controller="NameCtrl">
        Buscar: <input type="text" ng-model="query" />
        <table>
            <tr>
                <td><a href="" ng-click="sortField = 'name'; reverse = !reverse;">Nome</a></td>
                <td><a href="" ng-click="sortField = 'username'; reverse = !reverse;">usuário</a></td>
                <td><a href="" ng-click="sortField = 'email'; reverse = !reverse;">Email</a></td>
                <td><a href="" ng-click="sortField = 'website'; reverse = !reverse;">Website</a></td>
                <td><a href="" ng-click="sortField = 'company.name'; reverse = !reverse;">Empresa</a></td>
                <td>Foto</td>
                <td>Remover</td>
            </tr>
            <tr ng-repeat="user in users | filter:query | orderBy:sortField:reverse">
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.website}}</td>
                <td>{{user.company.name}}</td>
                <td><img ng-src="http://professionalsconnecting.co.uk/wp-content/uploads/2014/10/businessman1.png" width='20' /></td>
                <td><a href="" ng-click="removeUser(user.id)">Remover</a></td>
            </tr>
        </table>
    </body>
</html>