<div>
  
  <app-tabs>
    <app-tab title="Timers">
      <app-timer *ngFor="let timer of timers" init="{{timer}}" (onComplete)="showEndTimerAlert()"></app-timer>
      <button class="add" (click)="showAddTimer()">+</button>
    </app-tab>
    <app-tab title="Crono"></app-tab>
    <app-tab title="Alarm"></app-tab>
  </app-tabs>
  
  <app-alert-view  [hidden]="!isAddTimerVisible">

    <h3>Adcionar timer</h3>

    <label>Set the number of seconds for your timer</label>
    <input [(ngModel)]="time" type="number" #timeInput>

    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button (click)="submitAddTimer()">Ok</button>
  </app-alert-view>

  <ng-template #timeEndTemplate let-message let-title="title">
    <app-simple-alert-view 
      [title]="title"
      [message]="message"
      >
    </app-simple-alert-view>
  </ng-template>

  <ng-container 
    [ngTemplateOutlet]="timeEndTemplate"
    [ngTemplateOutletContext]="{title: 'Acabooou',  $implicit: 'Timer ended'}"
  ></ng-container>
</div>
