<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BeMean sample</title>
  </head>
  <body data-ng-app="BeMEAN">
    2+2 = {{2+2}}
    <script src="../lib/angular.min.js"></script>
    <script>
      angular.module('BeMEAN',[])
    </script>
  </body>
</html>
