<!DOCTYPE html>
<html data-ng-app="BeMEAN">
  <head>
    <meta charset="utf-8">
    <title data-ng-bind="titulo"></title>
  </head>
  <body>

  <label for="nome"> Seu Nome:
    <input type="text" data-ng-model="nome">
  </label>

  Ola mundo, <span data-ng-bind="nome"></span>

  <br/>

  <label for="nome"> Titulo:
    <input type="text" data-ng-model="titulo">
  </label>

  <script src="../lib/angular.min.js"></script>
  <script>
  angular.module("BeMEAN",[])
  </script>
  </body>
</html>
