<!DOCTYPE html>
<html data-ng-app="BeMEAN">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
     <style type="text/css">
       .wrapper{
        max-width: 600px;
        margin: 0 auto;
       }
     </style>
  </head>
  <body data-ng-controller="UserController as User">
    <section class="row wrapper">
      <h1>{{User.titulo}}</h1>
      <p class="col s12">
        <label>
          <input type="text" data-ng-model="form.User.name" placeholder="Nome"><br/>
        </label>
        <label>
          <input type="email" data-ng-model="form.User.email" placeholder="Email"><br/>
        </label>
      </p>
      <button data-ng-click="User.addUser(form.User)" class="btn btn-large green waves-effect waves-light col s12">Adicionar Usuário</button>
      <span data-ng-init="predicate='name'; reverse=false;"></span>

      <table>
        <thead>
          <tr>
            <th colspan="3">
              <label><input type="text" ng-model="searchUser" placeholder="Busca"></label>
            </th>
          </tr>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="user in User.users | orderBy:predicate:reverse | filter:searchUser">
            <td>
              <input 
                type="checkbox"
                id="user-{{$index}}"
                ng-model="user.selecionado" />
              <label for="user-{{$index}}"></label>
            </td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <!-- 
            usando um ng-click ficaria assim
            <td>
              <button 
                data-ng-click="User.removeByEmail(user.email)"
                class="btn btn-large red waves-effect waves-light col s12" 
                type="submit"
                name="action">
                  Delete
                </button>
            </td> -->
          </tr>
        </tbody>
      </table>
      <button data-ng-click="User.remove(User.users)" class="btn btn-large red waves-effect waves-light col s12" type="submit" name="action">   Remover
      </button>


    </section>

    <script src="../lib/angular.min.js"></script>
    <script>
      angular.module("BeMEAN",[])
      .controller("UserController", UserController);

      function UserController(){
        var vm = this;
        vm.titulo = "Be MEAN - Usuários";
        vm.users = [
          {name:'Douglas Caina', email:'caina27@gmail.com'},
          {name:'Jonas Theodor', email:'theodor.jonas@gmail.com'},
          {name:'Janice Bergamota', email:'bergen.janice@gmail.com'}
        ];

        function getKeyLength(){
          return Object.keys(angular.copy(vm.users[0])).length+1;
        }
        vm.keyslength = getKeyLength();

        vm.addUser = addUser;
        function addUser(_user){
          vm.users.push(_user);
        }

        vm.remove = remove;
        function remove(_users){
          vm.users = vm.users.filter(function(el){ return !el.selecionado  });
        }
        // nao usado
        vm.removeByEmail = removeByEmail;
        function removeByEmail(_email){
          vm.users = vm.users.filter(function(el){ return el.email !== _email; });
        }
      }
    </script>
  </body>
</html>
