<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Exercicio
    </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  </head>
  <body data-ng-app='userList'>

    <!--
    01
    -->

   <div class="container" data-ng-controller="UserController as User">
      <div class="jumbotron">
        <h1>{{User.title}}</h1>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Filtro</label>

            <input type="text" data-ng-model='userFilter' class="form-control" placeholder="Filtrar">
          </div>
        </form>
      </div>

      <div class="row marketing">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <thead>
                  <tr>
                    <th data-ng-repeat="(key,value) in User.users[0]">
                      <a href="#" data-ng-click="User.orderBy(key)">
                      {{key}}
                      </a>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr data-ng-repeat="user in User.users | orderBy:User.predicate | filter:userFilter " >
                    <td data-ng-repeat="(key,value) in user">{{value}}</td>
                  </tr> 
                </tbody>

            </table>
        </div>
      </div>
    </div>

    <script src="../lib/angular.min.js"></script>
    <script src="exercicio.js"></script>
  </body>
</html>
