<!DOCTYPE html>
<html data-ng-app="BeMEAN">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
  </head>
  <body data-ng-controller="UserController">
    <h1>{{titulo}}</h1>
    <ul>
      <li data-ng-repeat="user in users">
        {{user.name}} - {{user.email}}
      </li>
    </ul>
    <script src="../lib/angular.min.js"></script>
    <script>
      angular.module("BeMEAN",[])
        .controller("UserController", UserController);

      function UserController($scope){
        $scope.titulo = "Be MEAN";
        $scope.users = [
          {name:'Douglas Caina', email:'caina27@gmail.com'},
          {name:'Jonas Theodor', email:'theodor.jonas@gmail.com'},
          {name:'Janice Bergental', email:'bergen.janice@gmail.com'}
        ];
      }
      UserController['$inject'] = ['$scope'];
    </script>
  </body>
</html>
