<!DOCTYPE html>
<html data-ng-app="BeMEAN">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
  </head>
  <body data-ng-controller="UserController">
    <h1>{{titulo}}</h1>
    <ul>
      <li data-ng-repeat="user in users">
        {{user.name}} - {{user.email}}
      </li>
    </ul>

    <div data-ng-controller="CursoController">
      <h1>{{titulo}}</h1>
      <ul>
        <li data-ng-repeat="curso in cursos">
          {{curso.name}} - {{curso.teacher}}
        </li>
      </ul>
    </div>
    <script src="../lib/angular.min.js"></script>
    <script>
      angular.module("BeMEAN",[])
      .controller("UserController", UserController)
        .controller("CursoController", CursoController);

      function UserController($scope){
        $scope.titulo = "Be MEAN - Usuários";
        $scope.users = [
          {name:'Douglas Caina', email:'caina27@gmail.com'},
          {name:'Jonas Theodor', email:'theodor.jonas@gmail.com'},
          {name:'Janice Bergamota', email:'bergen.janice@gmail.com'}
        ];
      }
      UserController['$inject'] = ['$scope'];

      function CursoController($scope){
        $scope.titulo = "Be MEAN - Cursos";
        $scope.cursos = [
          {name:'Be MEAN', teacher:'Douglas Caina'},
          {name:'Learning machine', teacher:'Jonas'},
          {name:'Laravel', teacher:'Michigam'}
        ];
      }
      CursoController['$inject'] = ['$scope'];

    </script>
  </body>
</html>
