<div class="timer">
  <app-progress-bar [progress]="progress"></app-progress-bar>

  <app-display [time]="timer.countdown$ | async"></app-display>

  <div class="buttons">
    <button *ngIf="timer.paused" (click)="timer.toogleCountdown()" >Play</button>
    <button *ngIf="!timer.paused" (click)="timer.toogleCountdown()">Pause</button>
    <button (click)="timer.restartCountdown()">RESTART</button>
  </div>
</div>
